/* Source symbol container */
.source-symbol-picker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

/* columns in source symbol containers */
.source-symbol-picker_column {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 50%;
    /*padding: 0 .6rem;*/
}

/* common styles of lists in source symbol picker container */
.source-symbol-picker_column ul, ul.sources-list_ul, ul.symbols-list_ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* addition styles for sources container within source-symbol - picker */
.source-symbol-picker_column.sources-section {
    /*border-right: .1rem solid #d0d9e2;*/
    box-shadow: inset -2px 0 0 #d0d9e2
}

/* addition styles for symbols container */
.source-symbol-picker_column.symbols-section {
    /*border-left: .1rem solid #d0d9e2;*/
}
/* common styles for sources/symbols items (excluding Select All item) */
ul.sources-list_ul li.item, ul.symbols-list_ul li.item {
    padding: .8rem;
    cursor: pointer;
    border-bottom: 1px solid #d0d9e2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Hover styles of lists' items */
ul.sources-list_ul li.item:hover, ul.symbols-list_ul li.item:hover {
    background: rgba(239, 243, 255, .5);
    color: #000;
}

/*lists' items disabled styles */
ul.symbols-list_ul li.disabled, ul.symbols-list_ul li.disabled:hover {
    cursor: not-allowed;
    color: #8f95a3;
    background: #f1f2f4;
}

/* Common styles for lists' active item */
ul.sources-list_ul li.item.active, ul.symbols-list_ul li.item.active {
    background-color: #f0f6ff;
    border-left: 3px solid #0070e0;
    box-shadow: inset -2px 0 0 #d0d9e2;
    color: #000;
}

/* common styles for select all item */
ul.sources-list_ul li.select-all-item, ul.symbols-list_ul li.select-all-item {
    padding: .8rem;
    cursor: pointer;
    font-weight: 500;
    font-size: .8rem;
    text-transform: uppercase;
    border-bottom: 1px solid #d0d9e2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Common styles for lists' SelectAll items which are have active class */
ul.sources-list_ul li.select-all-item.active, ul.symbols-list_ul li.select-all-item.active {
    background-color: #f0f6ff;
    border-left: 3px solid #0070e0;
    color: #000;
}

/* styles for addition info that is inside sources list items */
ul.sources-list_ul li.item span {
    display: block;
    font-size: .7rem;
}

/* styles of */
ul.symbols-list_ul li.item span {
    display: block;
    font-size: .7rem;
}

/* input container */
.input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
/* input styles */
input.input {
    width: 90%;
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    vertical-align: middle;
    box-sizing: border-box;
}
input.input[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

input.input:focus {
    outline: 0;
    border-color: #129FEA;
}
